body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 600px;
  height: 200px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 320px;
}

.headerdiv {
  margin-right: 240px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 0%;
  vertical-align: middle;
}

.footer {
  margin-top: 40px;
  display: flex;
  margin-left: 280px;
  gap: 10px;
}

.Btnn {
  margin: 5px;
  padding: 5px;
  width: 80px;
  border-radius: 4px solid lightgray;
  margin-bottom: 10px;
  cursor: pointer;
}

.Btnn:hover {
  background-color: #2668f6;
  color: white;
}

